<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>

    <title th:text="#{restaurant.add}"></title>
</head>

<body>
<!-- Header and styles -->
<div th:insert="blocks/header :: header"></div>

<div class="container" align="center">
    <div class="py-2 text-center">
        <h3 th:text="#{restaurant.add}"></h3>
    </div>

<!-- Form to add a restaurant -->
<form id="createRestaurant" th:action="@{/rest/restaurants}" method="POST">


    <div class="col-md-3 py-2">
        <input type="text" class="form-control"
               id="name" name="name"
               th:placeholder="#{restaurant.name}"
               th:value="${restaurant.name}" required="">
    </div>

    <div class="d-flex gap-2 justify-content-center py-2">
        <!-- Cancel actions -->
        <a th:href="@{/templates/restaurants}" th:text="#{common.cancel}"
           class="btn secondary d-inline-flex align-items-center"></a>
        <!-- Save the restaurant -->
        <button class="btn btn-secondary d-inline-flex align-items-center"
                type="submit"
                onclick="updateOrCreateRestaurant('createRestaurant', 'POST')"
                th:text="#{common.save}">
        </button>
    </div>

</form>
</div>


<script type="text/javascript" src="/js/restaurants.js" defer>
</script>
</body>
</html>
