<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>

    <title th:text="#{restaurant.title}"></title>
</head>
<body>
<!-- Header and styles -->
<div th:insert="blocks/header :: header"></div>

<!-- Link to add a restaurant -->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" th:text="#{restaurant.title}"></h1>
        <p>
            <a th:href="@{/restaurants/add}" class="btn btn-md btn-outline-secondary"
               th:text="#{restaurant.add}"></a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <!-- Displaying a list of restaurants -->
            <div th:each="restaurant : ${restaurants}" class="col-md-4">
                <div class="card mb-4 box-shadow" >
                    <!--Switching to the restaurant menu -->
                    <a th:href="@{/restaurants/__${restaurant.id}__/menu}"
                       class="link-secondary text-decoration-none">
                        <div class="card-body">
                            <!-- Displays of each restaurant -->
                            <h5 th:text="${restaurant.name}" class="card-title"></h5>
                            <!-- Buttons for: displaying the restaurant menu,
                                                updating and deleting restaurant information -->
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/restaurants/__${restaurant.id}__/menu}"
                                       class="btn btn-sm btn-outline-secondary"
                                       th:text="#{menu.title}"></a>

                                    <a th:if="${userRole.equals('ADMIN')}"
                                       th:href="@{/restaurants/update/{id}(id=${restaurant.id})}"
                                       class="btn btn-sm btn-outline-secondary"
                                       th:text="#{common.update}"></a>

                                    <a th:if="${userRole.equals('ADMIN')}"
                                       th:href="@{/rest/restaurants/{id}(id=${restaurant.id})}"
                                       class="btn btn-sm btn-outline-secondary delete-restaurant-button"
                                       th:attr="data-restaurant-id=${restaurant.id}"
                                       th:text="#{common.delete}"></a>

                                </div>
                            </div>

                            <small class="text-body-secondary justify-content-end"
                                   style="position: absolute; bottom: 5px; right: 5px;">
                                <span th:text="${#temporals.format(restaurant.registered, 'dd-MM-yyyy')}"></span>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/restaurants.js">
</script>
</body>
</html>
