<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <title th:text="#{menu.name}"></title>
</head>
<body>
<div th:insert="blocks/header :: header"></div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" th:text="#{menu.name}"></h1>
        <h1 class="jumbotron-heading" th:text="${restaurantName}"></h1>

        <p>
            <a th:href="@{/restaurants/{id}/menu/add(id=${id})}" th:text="#{dish.add}"
               class="btn btn-md btn-outline-secondary"></a>
        </p>
    </div>

</section>

<div class="album py-5 bg-light">
<div class="container">
    <div class="row">
        <div th:each="dish : ${dishes}" class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                <div class="card-header py-3 text-bg-secondary border-secondary">
                    <h4 class="my-0 fw-normal" th:text="${dish.name}"></h4>
                </div>
                <div class="card-body">
                    <div class="card-title pricing-card-title">
                        <h1 class="d-inline-flex"
                            th:text="${T(com.topjava.votesystem.util.NumberUtil).formatDecimal(dish?.price)}"></h1>
                        <h1 class="d-inline-flex" th:text="#{dish.price.currency}"></h1>
                    </div>

                    <p class="card-text" th:text="${dish.description}"></p>

                    <p class="text-end">
                        <small class="text-muted"
                               th:text="${#temporals.format(dish.registered, 'dd-MM-yyyy HH:mm')}"></small>
                    </p>

                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-outline-secondary d-inline-flex align-items-center"
                           th:href="@{/restaurants/{restaurantId}/menu/update(id=${dish.id}, restaurantId=${dish.restaurant.id})}"
                           th:text="#{common.update}">
                        </a>
                        <a class="btn btn-outline-secondary d-inline-flex align-items-center"
                                th:href="@{/restaurants/{restaurantId}/menu/delete(id=${dish.id}, restaurantId=${dish.restaurant.id})}"
                                th:text="#{common.delete}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>