<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>

    <title th:text="#{user.title}"></title>

    <style>
        .error-message {
            border: 2px solid rgba(241, 80, 80, 0.93);
            padding: 10px;
            background-color: rgba(250, 182, 192, 0.99);
            text-align: center;
        }

        .text-center {
            text-align: center;
        }

    </style>
</head>
<body>
<div th:insert="blocks/header :: header"></div>

<div class="container" align="center">

    <form th:action="${user.isNew() ? '/users/add' : '/users/update'}" method="POST" th:object="${user}">

        <div class="py-2 text-center">
            <h3 th:if="${user.isNew()}" th:text="#{user.add}"></h3>
            <h3 th:unless="${user.isNew()}" th:text="#{user.edit}"></h3>
        </div>

        <!-- Errors -->
        <!-- Username errors -->
        <div th:href="@{${#httpServletRequest.getHeader('Referer')}}">
            <div th:if="${usernameExists}" th:text="#{error.username.exists}"
                 class="col-md-3 py-2 alert alert-danger error-message"></div>
            <!-- Email errors -->
            <div th:if="${emailExists}" th:text="#{user.email.exists}"
                 class="col-md-3 py-2 alert alert-danger error-message"></div>
            <!-- Passwords errors -->
            <div th:if="${passwordMatchError}" th:text="#{${passwordMatchError}}"
                 class="col-md-3 py-2 alert alert-danger error-message"></div>
            <div th:if="${passwordLengthError}" th:text="#{${passwordLengthError}}"
                 class="col-md-3 py-2 alert alert-danger error-message"></div>
        </div>

        <div class="col-md-3">
            <input type="hidden" class="form-control"
                   id="id" name="id"
                   placeholder="ID"
                   th:value="${user.id}" required="">
        </div>

        <div class="col-md-3 py-2">
            <input type="text" class="form-control"
                   id="firstName" name="firstName"
                   th:placeholder="#{user.firstname}"
                   th:field="*{firstName}" required="">
        </div>

        <div class="col-md-3 py-2">
            <input type="text" class="form-control"
                   id="lastName" name="lastName"
                   th:placeholder="#{user.lastname}"
                   th:field="*{lastName}" required="">
        </div>

        <div class="col-md-3 py-2">
            <input type="text" class="form-control"
                   id="username" name="username"
                   th:placeholder="#{user.username}"
                   th:field="*{username}" required="">
        </div>

        <div class="col-md-3 py-2">
            <input type="email" class="form-control"
                   id="email" name="email"
                   th:placeholder="#{user.email}"
                   th:field="*{email}" required="">
        </div>


        <div class="col-md-3 py-2">
            <select class="form-select" id="user_role" name="userRole" required="">
                <option th:text="#{user.roles}"></option>
                <option th:each="role : ${roles}"
                        th:value="${role}"
                        th:text="${role}"
                        th:selected="${role == (selectedRole != null ? selectedRole : null)}"></option>
            </select>
        </div>

        <!-- If new user create a password -->
        <div th:if="${user.isNew()}">
            <div class="col-md-3 py-2">
                <input type="password" class="form-control"
                       id="password" name="password"
                       th:placeholder="#{user.password}"
                       th:field="*{password}"
                       required="">
            </div>

            <div class="col-md-3 py-2">
                <input type="password" class="form-control"
                       id="passwordConfirm" name="passwordConfirm"
                       th:placeholder="#{user.password.confirm}"
                       th:field="*{passwordConfirm}"
                       required="">
            </div>
        </div>

        <div class="d-flex gap-2 justify-content-center py-2">
            <button class="btn secondary d-inline-flex align-items-center"
                    type="button" onclick="window.history.back()"
                    th:text="#{common.cancel}">
            </button>
            <button class="btn btn-secondary d-inline-flex align-items-center"
                    type="submit"
                    th:text="#{common.save}">
            </button>
        </div>
    </form>
</div>
</body>
</html>
